<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main id="login-page">
        <h1 class="text-center">Login</h1>
        <form id="login" class="form-white-bg" action="/auth/login" method="POST">
            <% if (errorMessage) { %>
                <div class="error-message">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-control">
                <label for="email">E-mail</label>                    
                <input type="text" id="email" name="email" placeholder="email">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="password"> 
                <p>Don't have an account yet? <a href="/auth/signup" class="<%= path === '/auth/signup' ? 'active' : ''%>">Sign up</a></p>
                <button class="primary" type="submit">Login</button>
            </div>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>