<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main id="reset-password-page">
        <h1 class="text-center">New password</h1>
        <form id="reset-password" class="form-white-bg" action="/auth/new-password" method="POST">
            <% if (errorMessage) { %>
                <div class="error-message">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>
            <% if (alertMessage) { %>
                <div class="alert-message">
                    <p><%= alertMessage %></p>
                </div>
            <% } %>
                <input type="hidden" name="userId" value="<%= userId %>" />
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="password">New password</label>                    
                <input type="password" id="password" name="password" placeholder="">
            </div>
            <div class="form-control">
                <button class="primary" type="submit">Create new password</button>
            </div>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>