<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main id="reset-password-page">
        <h1 class="text-center">Reset password</h1>
        <form id="reset-password" class="form-white-bg" action="/auth/reset-password" method="POST">
            <% if (errorMessage) { %>
                <div class="error-message">
                    <p><%= errorMessage %></p>
                </div>
            <% } %>
            <% if (alertMessage) { %>
                <div class="alert-message">
                    <p><%= alertMessage %></p>
                </div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-control">
                <label for="email">E-mail</label>                    
                <input type="text" id="email" name="email" placeholder="email">
            </div>
            <div class="form-control">
                <button class="primary" type="submit">Help me</button>
            </div>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>