<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="page-header">
            <div>
                <h1>Products</h1>
            </div>
            <div class="link-button-wrapper">
                <a class="primary-cta" href="/admin/add-product">Add product</a>
            </div>
        </div>
        <% if (products.length > 0) { %>
                <table class="admin-products">
                    <thead>
                        <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for (let product of products) { %>
                        <tr class="product-item">
                            <td><p class="product-title"><%= product.title %></p></td>
                            <td><p><%= product.price %> kr</p>
                            </td>
                            <td class="product-description"><p><%= product.description %></p></td>
                            <td>
                                <div>
                                    <a class="btn-link edit-product" href="/admin/edit-product/<%= product._id %>">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <button class="delete-product" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                            </tr>
                    <% } %>
                    </tbody>
                  </table>
        <% } else { %>
            <p>No products yet..</p>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>