<header class="main-header">
    <div class="backdrop"></div>
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item">
                <a href="/" class="<%= path === '/' ? 'active' : ''%>">Shop</a>
            </li>
            <li class="main-header-item">
                <a href="/shop/products" class="<%= path === '/shop/products' ? 'active' : ''%>">Products</a>
            </li>
            <li class="main-header-item">
                <a href="/shop/orders" class="<%= path === '/shop/orders' ? 'active' : ''%>">Orders</a>
            </li>
            <li class="main-header-item">
                <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : ''%>">Admin</a>
            </li>
        </ul>
        <ul class="right-main-header-item-list">
            <li class="main-header-item">
                <a href="/shop/cart" class="<%= path === '/shop/cart' ? 'active' : ''%>">Cart</a>
            </li>
        </ul>
    </nav>

    <div id="mobile-menu-toggle">
        <div id="mobile-menu-toggle-button">Menu</div>
        <div id="mobile-menu-close-button">Close</div>
    </div>
    <nav class="mobile-main-header-nav">
        <ul class="mobile-main-header-item-list">
            <li class="mobile-main-header-item">
                <a href="/" class="<%= path === '/' ? 'active' : ''%>">Shop</a>
            </li>
            <li class="mobile-main-header-item">
                <a href="/shop/products" class="<%= path === '/shop/products' ? 'active' : ''%>">Products</a>
            </li>
            <li class="mobile-main-header-item">
                <a href="/shop/orders" class="<%= path === '/shop/orders' ? 'active' : ''%>">Orders</a>
            </li>
            <li class="mobile-main-header-item">
                <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : ''%>">Admin</a>
            </li>
            <li class="mobile-main-header-item">
                <a href="/shop/cart" class="<%= path === '/shop/cart' ? 'active' : ''%>">Cart</a>
            </li>
        </ul>
    </nav>
</header>