<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="page-header">
            <h1>Orders</h1>
        </div>
        <% if (orders.length > 0) { %>
                    <% orders.forEach( order => { %>
                        <h2>Order <%= order._id %> <%= order.createdAt %></h2>
                        <table class="orders">
                            <thead>
                                <tr>
                                    <th>
                                        Products
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.items.forEach( product => { %>
                                    <tr>
                                    <td>
                                    <p><%= product.title %></p>
                                    </td>
                                    <td>
                                        <p><%= product.quantity %></p>
                                    </td>
                                    <td>
                                        <p><%= product.price %></p>
                                    </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    <% }); %>
        <% } else { %>
            <p>No products yet..</p>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>